<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title th:text="#{label.my.page}"></title>

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

        <!-- JS -->
        <script th:src="@{/js/bootstrap.js}"></script>

        <style>
            header, aside, main, footer {
                border: 1px dashed red;
                box-sizing: border-box;
            }
        </style>

        <script th:if="${message}" th:inline="javascript">
            alert([[${message}]]);
        </script>

    </head>

    <body>

        <header th:replace="~{header :: header}"></header>

        <div class="d-flex">

            <aside th:replace="~{aside :: aside}"></aside>

            <main class="flex-grow-1 p-3">

                <form name="form" th:action="@{'/users/' + ${id}}" th:method="put" th:object="${command}">
                    <div class="form-group d-none">
                        <label for="id" th:text="#{entity.user.id}"></label>
                        <input id="id" class="form-control-plaintext" th:value="${user.id}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="username" th:text="#{entity.user.username}"></label>
                        <input id="username" class="form-control-plaintext" th:value="${user.username}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="name" th:text="#{entity.user.name}"></label>
                        <input id="name" class="form-control" th:field="*{name}">
                        <span class="d-block invalid-feedback" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
                    </div>
                    <div class="form-group row">
                        <label for="emailId" class="col-form-label" th:text="#{entity.user.email}"></label>
                        <div class="col-sm-5">
                            <input id="emailId" class="form-control" th:field="*{emailId}">
                            <span class="d-block invalid-feedback" th:errors="*{emailId}" th:if="${#fields.hasErrors('emailId')}"></span>
                        </div>
                        <div class="col-sm-5">
                            <input class="form-control" th:field="*{emailDomain}">
                            <span class="d-block invalid-feedback" th:errors="*{emailDomain}" th:if="${#fields.hasErrors('emailDomain')}"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="firstContactNumber" class="col-form-label" th:text="#{entity.user.contactNumber}"></label>
                        <div class="col-sm-3">
                            <input id="firstContactNumber" class="form-control" th:field="*{firstContactNumber}">
                            <span class="d-block invalid-feedback" th:errors="*{firstContactNumber}" th:if="${#fields.hasErrors('firstContactNumber')}"></span>
                        </div>
                        <div class="col-sm-3">
                            <input id="middleContactNumber" class="form-control" th:field="*{middleContactNumber}">
                            <span class="d-block invalid-feedback" th:errors="*{middleContactNumber}" th:if="${#fields.hasErrors('middleContactNumber')}"></span>
                        </div>
                        <div class="col-sm-4">
                            <input id="lastContactNumber" class="form-control" th:field="*{lastContactNumber}">
                            <span class="d-block invalid-feedback" th:errors="*{lastContactNumber}" th:if="${#fields.hasErrors('lastContactNumber')}"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{entity.user.createdDate}"></label>
                        <input type="datetime-local" class="form-control-plaintext" th:value="${user.createdDate?.withNano(0)}" readonly>
                    </div>
                    <div class="form-group">
                        <label th:text="#{entity.user.lastModifiedDate}"></label>
                        <input type="datetime-local" class="form-control-plaintext" th:value="${user.lastModifiedDate?.withNano(0)}" readonly>
                    </div>
                    <div class="form-group">
                        <label th:text="#{entity.user.expiredDate}"></label>
                        <input type="datetime-local" class="form-control-plaintext" th:value="${user.expiredDate?.withNano(0)}" readonly>
                    </div>
                    <div class="form-group">
                        <label th:text="#{entity.user.lockedDate}"></label>
                        <input type="datetime-local" class="form-control-plaintext" th:value="${user.lockedDate?.withNano(0)}" readonly>
                    </div>
                    <div class="form-group">
                        <label th:text="#{entity.user.credentialsExpiredDate}"></label>
                        <input type="datetime-local" class="form-control-plaintext" th:value="${user.credentialsExpiredDate?.withNano(0)}" readonly>
                    </div>

                    <div class="d-flex justify-content-center p-3 mb-3 rounded">
                        <button type="submit" class="btn btn-primary mx-2" th:text="#{label.save}"></button>
                        <a class="btn btn-outline-primary mx-2" th:href="@{'/users/' + ${user.id} + '/edit-password'}" th:text="#{entity.user.password} + ' ' + #{label.update}"></a>
                        <a class="btn btn-secondary mx-2" th:href="@{/users/list}" th:text="#{label.list}" sec:authorize="hasRole('ROLE_ADMIN')"></a>
                        <a class="btn btn-secondary mx-2" th:href="@{/}" th:text="#{label.cancel}" sec:authorize="!hasRole('ROLE_ADMIN')"></a>
                        <button type="submit" class="btn btn-danger mx-2" data-role="delete" th:text="#{label.delete}" sec:authorize="!hasRole('ROLE_ADMIN')"></button>
                    </div>

                </form>

            </main>

        </div>

        <footer th:replace="~{footer :: footer}"></footer>

        <script th:inline="javascript">
            document.addEventListener('DOMContentLoaded', () => {
                document.updateForm.addEventListener('submit', e => {
                    if (!!e.submitter.dataset.role && e.submitter.dataset.role === 'delete') {
                        e.target['_method'].value = 'delete';
                    }
                });
            });
        </script>

    </body>
</html>