<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

    <head>
        <title th:text="|#{entity.authority} #{label.list}|"></title>

        <script th:inline="javascript">
            document.addEventListener('DOMContentLoaded', async e => {
                const $grid = document.getElementById('grid');
                const columns = [
                    {name: 'id', header: /*[[#{entity.id}]]*/'', type: 'text', hidden: true, editable: false},
                    {name: 'name', header: /*[[#{entity.name}]]*/'', type: 'text', hidden: false, editable: false}
                ];
                const options = {
                    hasCheckbox: true,
                    hasIndex: true,
                    hasRowNumber: true,
                    hasRowMenu: true,
                    hasToolbar: true,
                    hasDetail: true,
                    hasFilter: true,
                    hasPagination: true,
                    hasColumnFilter: true,
                    hasColumnSort: true,
                }
                const responsePromise = fetch(`/api/authorities`);
                const response = await responsePromise;
                const data = await response.json();
                const grid = new Grid($grid, data, columns, options);
            });
        </script>
    </head>

    <body layout:fragment="content">
        <section class="flex-grow-1 p-3">
            <form name="form">
                <table id="grid" class="table table-hover border"></table>
            </form>
        </section>
    </body>

</html>