<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

    <head>
        <title th:text="|#{entity.authority} #{label.list}|"></title>

        <script th:inline="javascript">
            document.addEventListener('DOMContentLoaded', async e => {
                const $grid = document.getElementById('grid');
                const columns = [
                    {name: 'id', header: /*[[#{entity.id}]]*/'', type: 'text', hidden: true, editable: false},
                    {name: 'name', header: /*[[#{entity.name}]]*/'', type: 'text', hidden: false, editable: false}
                ];
                const options = {
                    hasCheckbox: true,
                    hasIndex: true,
                    hasRowNumber: true,
                    hasRowMenu: true,
                    hasToolbar: true,
                    hasDetail: true,
                    hasFilter: true,
                    hasPagination: true,
                    hasColumnFilter: true,
                    hasColumnSort: true,
                }
                const responsePromise = fetch(`/api/authorities`);
                const response = await responsePromise;
                const data = await response.json();
                const grid = new Grid($grid, data, columns, options);
                grid.build();
            });
        </script>
    </head>

    <body layout:fragment="content">
        <section class="flex-grow-1 p-3">
            <form name="form">
                <table id="grid" class="table table-hover border"><!--
                    <thead>
                    <tr>
                        <th>checkbox</th>
                        <th>index</th>
                        <th class="d-none" th:text="|#{entity.authority} #{entity.id}|"></th>
                        <th th:text="#{entity.name}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="authority : ${authorities}" th:data-id="${authority.id}">
                        <td>
                            <input type="checkbox" class="form-control-plaintext">
                        </td>
                        <td>
                            <input type="number" min="1" class="form-control-plaintext" th:value="${authorityStat.index + 1}" readonly>
                        </td>
                        <td class="d-none">
                            <input type="text" class="form-control-plaintext" th:value="${authority.id}" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control-plaintext" th:value="${authority.name}" readonly>
                        </td>
                    </tr>
                    </tbody>
                --></table>
            </form>
        </section>
    </body>

</html>