header, aside, main, footer {
    border: 1px dashed red;
    box-sizing: border-box;
}

dialog {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input:invalid {
    border: 1px solid red;
}
