<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <aside id="aside" class="p-3" th:fragment="aside">
        <!-- Sidebar content -->
        <h3>Sidebar</h3>
        <!-- Add your menu items here -->
        <ul>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/users/list}" th:text="|#{entity.user} #{label.list}|"></a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/categories/list}" th:text="|#{entity.category} #{label.list}|"></a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/menus/list}" th:text="|#{entity.menu} #{label.list}|"></a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/swagger-ui/index.html}">swagger-ui</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/v3/api-docs.yaml}">OAS download</a>
            </li>
        </ul>
    </aside>

</html>