<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title th:text="#{entity.user}"></title>

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

        <!-- JS -->
        <script th:src="@{/js/bootstrap.js}"></script>
        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

        <style>
            header, aside, main, footer {
                border: 1px dashed red;
                box-sizing: border-box;
            }
        </style>

        <script th:if="${message}" th:inline="javascript">
            alert([[${message}]]);
        </script>

    </head>

    <body>

        <header th:replace="~{header :: header}"></header>

        <div class="d-flex">

            <aside th:replace="~{aside :: aside}"></aside>

            <main class="flex-grow-1 p-3">

                <form name="form" th:action="@{'/articles/' + ${article.id}}" th:method="put" th:object="${command}">
                    <div class="form-group mb-3 d-none">
                        <label for="categoryId" th:text="#{entity.category.id}"></label>
                        <input id="categoryId" class="form-control-plaintext" th:field="*{categoryId}" readonly>
                        <span class="d-block invalid-feedback" th:errors="*{categoryId}" th:if="${#fields.hasErrors('categoryId')}"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label for="title" th:text="#{entity.article.title}"></label>
                        <input id="title" class="form-control" th:field="*{title}">
                        <span class="d-block invalid-feedback" th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label for="content" th:text="#{entity.article.content}"></label>
                        <div id="editor"></div>
                        <textarea id="content" class="form-control d-none" th:field="*{content}"></textarea>
                        <span class="d-block invalid-feedback" th:errors="*{content}" th:if="${#fields.hasErrors('content')}"></span>
                    </div>

                    <div class="d-flex justify-content-center p-3 mb-3 rounded">
                        <button type="submit" class="btn btn-primary mx-2" th:text="#{label.save}"></button>
                        <a type="button" class="btn btn-secondary mx-2" th:href="@{/articles/list(categoryId=${command.categoryId})}" th:text="#{label.list}"></a>
                        <button type="submit" class="btn btn-danger mx-2" data-role="delete" th:text="#{label.delete}"></button>
                    </div>
                </form>

            </main>

        </div>

        <footer th:replace="~{footer :: footer}"></footer>

        <script th:inline="javascript">
            document.addEventListener('DOMContentLoaded', () => {
                document.form.addEventListener('submit', e => {
                    if (!!e.submitter.dataset.role && e.submitter.dataset.role === 'delete') {
                        e.target['_method'].value = 'delete';
                    }
                });
            });
        </script>

        <script th:inline="javascript">
            document.addEventListener('DOMContentLoaded', () => {
                const Editor = toastui.Editor;
                const initialValue = [[${command.content}]] || '';
                const editor = new Editor({
                    el: document.getElementById('editor'),
                    height: 'auto',
                    initialEditType: 'wysiwyg',
                    initialValue: initialValue,
                    previewStyle: 'vertical',
                    usageStatistics: false
                });

                document.form.addEventListener('submit', e => {
                    e.target.elements.content.value = editor.getHTML();
                });
            });
        </script>

    </body>
</html>