<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>
    <head>
        <title th:text="|#{entity.article} #{label.update}|"></title>

        <link rel="stylesheet" th:href="@{/css/attachment.css}"/>

        <script th:src="@{/js/AttachmentManager.js}"></script>

        <script th:inline="javascript">
            document.addEventListener('DOMContentLoaded', e => {
                const _document = e.target;
                _document.form.addEventListener('submit', e => {
                    if (e.submitter.name === 'update') {
                        return updateArticle(e);
                    } else if (e.submitter.name === 'delete') {
                        e.target.elements._method = 'delete';
                    }
                });

                _document.addEventListener('click', e => {
                    const $attached = e.target.closest(`.attached`);
                    if ($attached) {
                        $attached.closest(`tr`).remove();
                        const articleId = $attached.dataset.articleId;
                        const attachmentId = $attached.dataset.attachmentId;
                        const httpEntity = {
                            method: 'delete',
                            headers: {
                                'content-type': 'application/json',
                                'X-XSRF-TOKEN': _document.form._csrf.value
                            }
                        };

                        fetch(`/api/articles/${articleId}/attachments/${attachmentId}`, httpEntity)
                            .then(async response => {
                                const responseBody = await response.text();
                                if (response.ok) {
                                    alert(/*[[#{command.success.delete}]]*/'');
                                } else {
                                    alert(responseBody);
                                }
                            });
                    }
                });

                const updateArticle = e => {
                    e.preventDefault();
                    const formData = new FormData(e.target);
                    formData.delete('multipartFiles');// FormData Constructor에 form element를 삽입하면 input[type="file"]요소에 empty file이 하나 첨부되는 현상을 발견했다.
                    [...e.target.elements.multipartFiles.files].forEach(file => formData.append('multipartFiles', file));
                    const httpEntity = {
                        method: 'post',
                        headers: {
                            'X-XSRF-TOKEN': e.target._csrf.value
                        },
                        body: formData
                    };
                    const articleId = /*[[${article.id}]]*/'';
                    fetch(`/api/articles/${articleId}`, httpEntity)
                        .then(async response => {
                            const responseBody = await response.text();
                            if (response.status === 202) {
                                alert(/*[[#{command.success.update}]]*/'');
                                location.href = /*[[@{/articles/list(categoryId=${command.categoryId})}]]*/'';
                            } else if (response.status === 400) {
                                const errors = JSON.parse(responseBody).errors;
                                errors.forEach(error => e.target.elements[error.field].parentElement.querySelector(`.invalid-feedback`).textContent = error.message);
                            } else {
                                alert(responseBody);
                            }
                        });
                };

            });
        </script>
    </head>

    <body layout:fragment="content">
        <section class="flex-grow-1 p-3 border border-primary rounded">
            <form name="form" th:action="@{'/articles/' + ${article.id}}" th:object="${command}" th:method="post">
                <input type="file" name="multipartFiles" multiple>
                <div class="form-group mb-3 d-none">
                    <label for="categoryId" th:text="#{entity.category.id}"></label>
                    <input id="categoryId" class="form-control-plaintext" th:field="*{categoryId}" readonly>
                    <span class="d-block invalid-feedback"></span>
                </div>
                <div class="form-group mb-3">
                    <label for="title" th:text="#{entity.article.title}"></label>
                    <input id="title" class="form-control" th:field="*{title}">
                    <span class="d-block invalid-feedback"></span>
                </div>

                <div class="form-group mb-3">
                    <label for="content" th:text="#{entity.article.content}"></label>
                    <textarea id="content" class="form-control" th:field="*{content}"></textarea>
                    <span class="d-block invalid-feedback"></span>
                </div>

                <table id="attachments" class="table table-hover border">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th class="d-none" th:text="#{entity.id}"></th>
                        <th th:text="#{entity.name}"></th>
                        <th th:text="#{entity.attachment.size}"></th>
                        <th th:text="#{entity.createdBy}"></th>
                        <th th:text="#{entity.createdDate}"></th>
                        <th th:text="#{entity.lastModifiedBy}"></th>
                        <th th:text="#{entity.lastModifiedDate}"></th>
                        <th th:text="#{label.delete}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${attachments.isEmpty()}">
                        <td colspan="100%" class="text-center" th:text="#{search.result.empty}"></td>
                    </tr>
                    <tr th:if="${!attachments.isEmpty()}" th:each="attachment, status : ${attachments}">
                        <td>
                            <input type="number" min="1" class="form-control-plaintext" name="index"
                                   th:value="${status.index + 1}" readonly>
                        </td>
                        <td class="d-none">
                            <input type="text" class="form-control-plaintext" name="id" th:value="${attachment.id}"
                                   readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control-plaintext" name="originalName"
                                   th:value="${attachment.originalName}" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control-plaintext" name="size" th:value="${attachment.size}"
                                   readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control-plaintext" name="createdBy"
                                   th:value="${article.createdBy}" readonly>
                        </td>
                        <td>
                            <input type="datetime-local" class="form-control-plaintext" name="createdDate"
                                   th:value="${article.createdDate?.withNano(0)}" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control-plaintext" name="lastModifiedBy"
                                   th:value="${article.lastModifiedBy}" readonly>
                        </td>
                        <td>
                            <input type="datetime-local" class="form-control-plaintext" name="lastModifiedDate"
                                   th:value="${article.lastModifiedDate?.withNano(0)}" readonly>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger attached" th:data-article-id="${article.id}"
                                    th:data-attachment-id="${attachment.id}"
                                    th:text="#{label.delete}"
                                    th:title="#{label.delete}"
                            ></button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-center p-3 mb-3 rounded">
                    <button type="submit" name="update" class="btn btn-primary mx-2" th:text="#{label.save}"></button>
                    <a class="btn btn-secondary mx-2" th:href="@{'/articles/' + ${article.id}}" th:text="#{label.cancel}"></a>
                    <button type="submit" name="delete" class="btn btn-danger mx-2" th:text="#{label.delete}"></button>
                </div>
            </form>
        </section>
    </body>
</html>
