<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>
    <head>
        <title th:text="|#{entity.article} #{label.create}|"></title>

        <link rel="stylesheet" th:href="@{/css/attachment.css}"/>

        <script th:src="@{/js/AttachmentManager.js}"></script>

        <script th:inline="javascript">

            document.addEventListener('DOMContentLoaded', e => {
                const _document = e.target;
                _document.form.addEventListener('submit', e => {
                    e.preventDefault();
                    const formData = new FormData(e.target);
                    formData.delete('multipartFiles');// FormData Constructor에 form element를 삽입하면 input[type="file"]요소에 empty file이 하나 첨부되는 현상을 발견했다.
                    [...e.target.elements.multipartFiles.files].forEach(file => formData.append('multipartFiles', file));
                    const httpEntity = {
                        method: 'post',
                        headers: {
                            'X-XSRF-TOKEN': e.target._csrf.value
                        },
                        body: formData
                    };

                    fetch(`/api/articles`, httpEntity)
                        .then(async response => {
                            const responseBody = await response.text();
                            if (response.status === 201) {
                                alert(/*[[#{command.success.create}]]*/'');
                                location.href = /*[[@{/articles/list(categoryId=${command.categoryId})}]]*/'';
                            } else if (response.status === 400) {
                                const errors = JSON.parse(responseBody).errors;
                                errors.forEach(error => e.target.elements[error.field].parentElement.querySelector(`.invalid-feedback`).textContent = error.message);
                            } else {
                                alert(responseBody);
                            }
                        });
                });

            });
        </script>

    </head>

    <body layout:fragment="content">
        <section class="flex-grow-1 p-3 border border-primary rounded">
            <form name="form" enctype="multipart/form-data" th:method="post" th:object="${command}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="file" name="multipartFiles" multiple>
                <div class="form-group mb-3 d-none">
                    <label for="categoryId" th:text="#{entity.category.id}"></label>
                    <input id="categoryId" class="form-control-plaintext" th:field="*{categoryId}" readonly>
                    <span class="d-block invalid-feedback"></span>
                </div>

                <div class="form-group mb-3">
                    <label for="title" th:text="#{entity.article.title}"></label>
                    <input id="title" class="form-control" th:field="*{title}">
                    <span class="d-block invalid-feedback"></span>
                </div>

                <div class="form-group mb-3">
                    <label for="content" th:text="#{entity.article.content}"></label>
                    <textarea id="content" class="form-control" th:field="*{content}"></textarea>
                    <span class="d-block invalid-feedback"></span>
                </div>

                <div class="d-flex justify-content-center p-3 mb-3 rounded">
                    <button type="submit" class="btn btn-primary mx-2" th:text="#{label.save}"></button>
                    <a class="btn btn-secondary mx-2" th:href="@{/articles/list(categoryId=${command.categoryId})}" th:text="#{label.list}"></a>
                </div>
            </form>

        </section>
    </body>
</html>